<%= link_to "Create New TaskGroup", new_project_task_group_path(@project) %>
<div id="task_groups_list">
<ul>
  <% @task_groups.each do |taskgroup| %>
    <li>
    <%= link_to "#{taskgroup.name}", task_group_path(taskgroup) %>
    Duration: <%= taskgroup.duration %> Days
    </li>
  <% end %>
</ul>
</div>
