<h2>TaskGroups List</h2> <%= link_to "Create New TaskGroup", new_project_task_group_path %>

<div id="task_groups_list">
<ul>
  <% @task_groups.each do |taskgroup| %>
    <li>
    <%= taskgroup.name %>
    <%= taskgroup.duration %>
    </li>
  <% end %>
</ul>
</div>